<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>受講取消</title>
    <link href="C:\Users\ecf_pc\Documents\java\spring\mock\style.css" rel="stylesheet">
</head>
<body>
    <h2>受講取消</h2>
    下記講座の受講を取り消します。    
    <table>
        <tr>
            <th>講座名</th>
            <td>Java基礎</td>
        </tr>
        <tr>
            <th>担当講師</th>
            <td>山田太郎</td>
        </tr>
        <tr>
            <th>開始日</th>
            <td>2022/4/1</td>
        </tr>
        <tr>
            <th>終了日</th>
            <td>2022/6/30</td>
        </tr>
        <tr>
            <th>定員</th>
            <td>15人</td>
        </tr>
        <tr>
            <th>開催場所</th>
            <td>オンライン</td>
        </tr>
    </table>
    <input type="submit" value="取消" />
    <input type="submit" value="戻る" />
</body>
</html>