<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:replace="~{common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<title>講座一覧</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<a th:href="@{/common/home/{username}/attended(username=${#authentication.name})}">登録済の講座一覧</a>
		<a th:href="@{/common/home/{username}(username=${#authentication.name})}">すべての講座一覧</a>
	</div>
	<div class="cardBox">
		<div th:each="message : ${messages}">
			<p th:if="${message.level == T(com.e3factory.util.AppMessage.Level).INFO}" th:text="${message.message}" class="message"></p>
			<p th:if="${message.level == T(com.e3factory.util.AppMessage.Level).WARN}" th:text="${message.message}" class="warn"></p>
		</div>
		<div class="courseCard" th:each="homeInfo : ${homeInfoList}">
			<h4 th:text="${homeInfo.name}"></h4>
			<p>講師名：<span th:text="${homeInfo.teacherName}"></span></p>
			<p>開講期間：<span th:text="${homeInfo.startDate}"></span>～<span th:text="${homeInfo.endDate}"></span></p>
			<p>定員：<span th:text="${homeInfo.capacity}"></span>名</p>
			<p>場所：<span th:text="${homeInfo.location}"></span></p>
			<form th:action="@{/common/attend/{courseid}(courseid=${homeInfo.id})}" method="get"
				sec:authorize="isAuthenticated()" th:if="${!homeInfo.attendance}" >
				<input type="submit" value="登録" />
			</form>
		</div>
	</div>
</body>
</html>