<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>講座一覧</title>
    <link href="C:\Users\ecf_pc\Documents\java\spring\mock\style.css" rel="stylesheet">
</head>
<body>
    <h2>講座一覧</h2>
    <form action="">
        <button>新規登録</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>講座名</th>
            <th>講師名</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>開催場所</th>
            <th><a href="">操作</a></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Java基礎</td>
            <td>山田太郎</td>
            <td>2022/04/01</td>
            <td>2022/06/30</td>
            <td>オンライン</td>
            <td><a href="">取消</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Java応用</td>
            <td>山田太郎</td>
            <td>2022/04/01</td>
            <td>2022/06/30</td>
            <td>オンライン</td>
            <td><a href="">登録</a></td>
        </tr>
    </table>
</body>
</html>