<!DOCTYPE html>
<html>
<head>
	<title>Java基礎テスト 第1回</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/u/course.css" />
	<link rel="stylesheet" type="text/css" href="test.css" />
</head>
<body>
	<h1>Java基礎テスト 第1回</h1>
	<div class="quiz">
		<h2>Q1</h2>
			<p>クラスの定義について、正しいものを１つ選んでください。(5点)</p>
			<ol>
				<li><input type="radio" name="q1"/>クラスは１つのプログラムに１つしか定義できない。</li>
				<li><input type="radio" name="q1" />クラスはフィールドやメソッドを持つことができる</li>
				<li><input type="radio" name="q1"/>クラス名は大文字で定義しなければならない。</li>
				<li><input type="radio" name="q1"/>１つのファイルに複数のクラスを定義することはできない。</li>
			</ol>
		<h2>Q2</h2>
			<p>変数名として使用できるものをすべて選んでください。(10点)</p>
			<ol>
				<li><input type="checkbox" name="q2"/>2nd</li>
				<li><input type="checkbox" name="q2" />Test</li>
				<li><input type="checkbox" name="q2"/>void</li>
				<li><input type="checkbox" name="q2"/>ver2</li>
				<li><input type="checkbox" name="q2"/>#1</li>
				<li><input type="checkbox" name="q2"/>あ</li>
			</ol>
		<h2>Q3</h2>
			<p>次の文章の空欄を埋めてください。（各5点）</p>
			<p>Javaは最低1つの（　①　）を作成することで動作します。（　①　）には（　②　）（　③　）を
			作成することができます。（　②　）は属性、（　③　）は振る舞いとも呼ばれます。</p>
			<ol>
				<li>①<input type="text" name="q3"/></li>
				<li>②<input type="text" name="q3" /></li>
				<li>③<input type="text" name="q3"/></li>
			</ol>
	</div>
	<button>採点</button>
</body>
</html>