<!DOCTYPE html>
<html>
<head>
	<title>Java基礎テスト 第1回</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/u/course.css" />
	<link rel="stylesheet" type="text/css" href="test.css" />
</head>
<body>
	<h1>Java基礎テスト 第1回</h1>
		<p style="font-weight:bold;font-size:x-large">得点:　20/<span style="font-size:medium;">30点</span></p>
	<div class="quiz">
		<h2>Q1</h2>
		<p style="font-weight:bold;font-size:x-large">判定:<span style="color:#66cc66;">○</span></p>
			<p>クラスの定義について、正しいものを１つ選んでください。(5点)</p>
			<ol>
				<li><input type="radio" name="q1" disabled />クラスは１つのプログラムに１つしか定義できない。</li>
				<li style="background-color:#ccffcc"><input type="radio" name="q1" disabled checked />クラスはフィールドやメソッドを持つことができる</li>
				<li><input type="radio" name="q1" disabled />クラス名は大文字で定義しなければならない。</li>
				<li><input type="radio" name="q1" disabled />１つのファイルに複数のクラスを定義することはできない。</li>
			</ol>
			<div>解説:
			<p style="border:solid 2px #cccccc;width:600px;padding:4px;margin-top:1px">複数のクラスを作成し、メッセージのやり取りをすることでプログラムを実現します。</p>
			</div>
		<h2>Q2</h2>
		<p style="font-weight:bold;font-size:x-large">判定:<span style="color:#ff6666;">×</span></p>
			<p>変数名として使用できるものをすべて選んでください。(10点)</p>
			<ol>
				<li><input type="checkbox" name="q2" disabled checked/>2nd</li>
				<li style="background-color:#ccffcc"><input type="checkbox" name="q2" disabled checked/>Test</li>
				<li><input type="checkbox" name="q2" disabled />void</li>
				<li style="background-color:#ccffcc"><input type="checkbox" name="q2" disabled checked/>ver2</li>
				<li><input type="checkbox" name="q2" disabled/>#1</li>
				<li style="background-color:#ccffcc"><input type="checkbox" name="q2" disabled/>あ</li>
			</ol>
			<div>解説:
			<p style="border:solid 2px #cccccc;width:600px;padding:4px;margin-top:1px">ここに解説が入ります。</p>
			</div>
		<h2>Q3</h2>
			<p>次の文章の空欄を埋めてください。（各5点）</p>
			<p>Javaは最低1つの（　①　）を作成することで動作します。（　①　）には（　②　）（　③　）を
			作成することができます。（　②　）は属性、（　③　）は振る舞いとも呼ばれます。</p>
			<ol>
				<li>①<input type="text" name="q3" value="クラス"  style="background-color:#ccffcc" disabled /></li>
				<li>②<input type="text" name="q3" value="フィールド"  style="background-color:#ccffcc" disabled /></li>
				<li>③<input type="text" name="q3" value="メンバ"  style="background-color:#ffcccc" disabled /></li>
			</ol>
			<div>解説:
			<p style="border:solid 2px #cccccc;width:600px;padding:4px;margin-top:1px">ここに解説が入ります。</p>
			</div>
	</div>
	<button>戻る</button>
</body>
</html>