<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout :: layout(~{::title},~{::body/content()})}">
<head>
<title>講座一覧</title>
</head>
<body>
	<h2>講座一覧</h2>
	<p th:if="*{message} != null" th:text="${message}" class="message" ></p>
	<form th:action="@{/course/insert}" method="post">
		<div class="action">
			<input type="submit" value="新規登録" />
		</div>
	</form>
	<table>
		<tr>
			<th>ID</th>
			<th>講座名</th>
			<th>講師ID</th>
			<th>開始日</th>
			<th>終了日</th>
			<th>定員</th>
			<th>場所</th>
			<th colspan="3">操作</th>
		</tr>
		<tr th:each="course : ${courseList}">
			<td th:text="${course.id}"></td>
			<td th:text="${course.name}"></td>
			<td th:text="${course.userId}"></td>
			<td th:text="${course.startDate}"></td>
			<td th:text="${course.endDate}"></td>
			<td th:text="${course.capacity}"></td>
			<td th:text="${course.location}"></td>
			<td><a th:href="@{/course/update/{id}(id=${course.id})}">更新</a></td>
			<td><a th:href="@{/course/delete/{id}(id=${course.id})}">削除</a></td>
			<td><a th:href="@{/attendance/view/{id}(id=${course.id})}">受講状況</a></td>
		</tr>
	</table>
</body>
</html>