<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:fragment="layout (head,body)">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<!-- 各固有画面のheadを読込 -->
	<th:block th:replace="${head}"></th:block>
</head>
<body>
<div class="app">
	<header>
		<div class="logo">
			受講管理システム
		</div>
		<div class="logout" sec:authorize="isAuthenticated()">
			<span sec:authentication="name"></span>(<a th:href="@{/logout}">ログアウト</a>)
		</div>
		<div class="logout" sec:authorize="${isAuthenticated() != true}">
			<a th:href="@{/login}">ログイン</a>
		</div>
	</header>
	<main>
		<div class="content" th:insert="${body}">
			メイン
		</div>
	</main>
</div>
</body>
</html>