<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/layout :: layout(~{::title},~{::body/content()})}">
<head>
<title>ユーザー更新</title>
</head>
<body>
	<h2>ユーザー更新</h2>
	<form th:action="@{/user/doupdate}" th:object="${userForm}"
		method="post">
		<p th:errors="*{all}" class="validation_error"></p>
		<div class="item">
			<label>ユーザーID：</label>
			<input type="text" th:field="*{userid}" readonly="readonly" />
		</div>
		<div class="item">
			<label>名前：</label>
			<input type="text" th:field="*{name}" />
		</div>
		<div class="item">
			<label>パスワード：</label>
			<input type="password" th:field="*{password}" />
		</div>
		<div class="item">
			<label>パスワード(確認)：</label>
			<input type="password" th:field="*{passwordConfirm}" />
		</div>
		<div class="item">
			<label>権限：</label>
			<input type="radio" th:field="*{privilege}" th:value="|ADMIN|" th:text="管理者"  />
			<input type="radio" th:field="*{privilege}" th:value="|TEACHER|" th:text="講師" />
			<input type="radio" th:field="*{privilege}" th:value="|USER|" th:text="受講者" />
		</div>
		<div class="action">
			<input type="submit" value="更新" />
		    <input type="submit" value="戻る" formaction="/user/view" formmethod="get" />
		</div>
	</form>
</body>
</html>