<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:replace="~{admin/layout :: layout(~{::title},~{::body/content()})}">
<head>
<title>受講情報一覧</title>
</head>
<body>
	<h2>受講情報一覧</h2>
	<p th:if="*{message} != null" th:text="${message}" class="message" ></p>
	<h3>講座</h3>
	<table th:object="${course}">
		<tr>
			<th>講座名</th>
			<td th:text="${course.name}"></td>
		</tr>
		<tr>
			<th>講師ID</th>
			<td th:text="${course.userId}"></td>
		</tr>
	</table>
	<h3>受講状況</h3>
	<table>
		<tr>
			<th>受講者名</th>
			<th>得点</th>
			<th>ランク</th>
			<th>操作</th>
			<th sec:authorize="hasRole('TEACHER')">評価</th>
		</tr>
		<tr th:each="attendance : ${attendanceList}">
			<td th:text="${attendance.userName}"></td>
			<td th:text="${attendance.score}"></td>
			<td th:text="${attendance.rank}"></td>
			<td><a th:href="@{/attendance/delete/{id}(id=${attendance.id})}">削除</a></td>
			<td sec:authorize="hasRole('TEACHER')">
				<a th:href="@{/attendance/evaluate/update/{id}(id=${attendance.id})}">評価</a>
			</td>
		</tr>
	</table>
	<form th:action="@{/course/view}" method="get">
		<div class="action">
		    <input type="submit" value="戻る" />
		</div>
	</form>
</body>
</html>