<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{manager/layout :: layout(~{::head/content()},~{::body/content()})}">
<head>
    <title>講座削除</title>
</head>
<body>
    <h2>講座削除</h2>
    下記の講座を削除します。
    <div th:object="${course}">
	    <table>
	        <tr>
	            <th>講座ID</th>
	            <td th:text="*{id}"></td>
	        </tr>
	        <tr>
	            <th>講座名</th>
	            <td th:text="*{name}"></td>
	        </tr>
	        <tr>
	            <th>講師ID</th>
	            <td th:text="*{userId}"></td>
	        </tr>
	    </table>
		<form th:action="@{/m/course/dodelete}" >
			<input type="hidden" name="id" th:value="*{id}" />
			<div class="action">
		        <input type="submit" value="削除" />
		        <input type="submit" value="戻る" formaction="/m/course/view" formmethod="get" />
		    </div>
		</form>
    </div>
</body>
</html>