<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="login">
	    <h1>受講管理システム</h1>
		<form th:action="@{/login}" method="post">
	        <div th:if="${param.error}" class="validation_error">
	            ユーザーIDまたはパスワードが違います。
	        </div>
	        <div th:if="${param.logout}" class="message">
	            ログアウトしました。
	        </div>
		    <h2>ログイン</h2>
	        <label>ユーザー名</label>
	        <input type="text" name="username" /><br>
	        <label>パスワード</label>
	        <input type="text" name="password" /><br>
	        <input type="submit" value="ログイン" /><br>
	    </form>
	</div>
</body>
</html>